{{ define "base/index.html.tmpl" }}
<!doctype html>
<html>
  <head>
    <title> {{.title}} </title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/override.css" />
    <link rel="icon" href="/static/favicon.png" />
    <meta charset="utf-8" />
    <!-- <script type="text/javascript" src="/static/wasm_exec.min.js"> -->
    </script>
  </head>
  <body>
    <!--
    <noscript>
      yes this requires js. no it won't work without it. yes i hate it too, the web was a mistake.
    </noscript>
    <script>
      const go = new Go();
      WebAssembly.instantiateStreaming(fetch("/static/bitchan.wasm"), go.importObject).then((result) => {
        go.run(result.instance);
      });
    </script>
    -->
    <form method="post" action="/bitchan/v1/post" >
      <input type="file" name="file" />
      <textarea name="comment">
      </textarea>
      <input type="submit" value="post" />
    </form>
  </body>
</html>
{{ end }}
